@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Weightlifting</h1>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/img/pinkbarbell.png" class="img-fluid" alt="Weightlifting Image">
        </div>
        <div class="col-md-6">
            <p>
                Weightlifting is something I do just about every day. It keeps me sane,
                and I think everyone should incorporate a little weight training into their routine.
                I have been lifting weights just about every day for the last year and a half, and I
                can say with confidence that I am the healthiest and happiest I have ever been!
            </p>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Reasons why everyone should lift weights:</h4>
            <ul>
                <li>Higher metabolic rate</li>
                <li>Higher muscle mass helps you burn fat faster</li>
                <li>Adults who don't weight train lose muscle mass over time</li>
                <li>Improved overall function by strengthening muscles and joints</li>
                <li>Better body composition</li>
                <li>Improved mental health</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="~/img/img_0046.jpg" class="img-fluid" alt="Weightlifting Image">
        </div>
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        <p>&copy; 2024 | Built by Gracie Sentz</p>
    </div>
</footer>
